@font-face {
  font-family: 'Vanguard-Regular';
  src: url('../assets/fonts/vanguard/VanguardCF-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vanguard-DemiBold';
  src: url('../assets/fonts/vanguard/VanguardCF-DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
